<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021524163770-dj7u8f4ufvk3itdudo164d7jren84qpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021524163770-dj7u8f4ufvk3itdudo164d7jren84qpf</string>
	<key>API_KEY</key>
	<string>AIzaSyCgiXh5i7mnK7Pui3Hx2VlI80WLkqjw8Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>1021524163770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>agency.bravery.zoomer</string>
	<key>PROJECT_ID</key>
	<string>zoomer-c7eb3</string>
	<key>STORAGE_BUCKET</key>
	<string>zoomer-c7eb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021524163770:ios:61fbe70537357000e39683</string>
</dict>
</plist>